.err {
  background-image: url(../../../img/404.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  margin-bottom: 5rem;
  width: 100%;
  height: 780px;
  color: #bcb0d1;
  cursor: context-menu;


  h1 {
    text-align: left;
    padding-top: 10%;
    margin-left: 5rem;
    font-size: 10rem;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:#4d487d;
  }

  h3 {
    margin-top: 6rem;
    margin-left: 5rem;
    font-size: 2rem;
    color: #68487d;
  }

  p {
    margin-left: 5rem;
    font-size: 1rem;
  }

  .line {
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #bcb0d1;
    cursor: pointer;
  }

  .line:hover {
    color: #4d487d;
  }

}


