<mat-stepper [linear]="true" #stepper>
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your Name</ng-template>
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Firstname</mat-label>
          <input matInput placeholder="Firstname" formControlName="firstname" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Lastname</mat-label>
          <input matInput placeholder="Lastname" formControlName="lastname" required>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup" label="Fill out your Email and Password">
    <form [formGroup]="secondFormGroup" (ngSubmit)="onSubmit()">
      <div class="field-container">
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="example@example.com" formControlName="email" required>
        </mat-form-field>
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hide ? 'password' : 'text'" placeholder="password" formControlName="password" required>
          <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Done</ng-template>
    <p>You are now done.</p>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button type="submit" mat-button>Signup</button>
    </div>
  </mat-step>
</mat-stepper>
