<div class="container">
  <div class="text">
    <h1>神隠し</h1>
    <h4>Spirited Away is a manifestation of fears and anxieties as seen through the lens of its young lead female character, Chihiro.
      How Chihiro chooses to react to the ever-changing circumstances around her, even the most horrifying ones, defines this film's central moral.
    </h4>
  </div>
  <div class="text2">
    <h1>Spirited Away Inspiration</h1>
    <h4>Hayao Miyazaki got his inspiration for Spirited Away (Sen to Chihiro no Kamikakushi)from a group of young women he would spend his summers with.
    He wanted to make a movie that they could enjoy, that wouldn't be a simple romance as seen in many shoujo manga.
    </h4>
  </div>
</div>

