.container {
  background-image: url(../../../img/ghibli.jpg);
  background-repeat: no-repeat;
  background-size:cover;
  background-position: center;
  min-width: 100%;
  height: 800px;

  .text, .text2 {
    width: 300px;
    height: auto;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: 5rem;
  }

}



