$bg-color-primary: #bcb0d1;

.navbar-nav a {
  text-decoration: none;
  justify-content: space-between;
  margin-right: 20px;
  color: white;
}

a.line
{
    position: relative;
}

a.line:before {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: $bg-color-primary;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}

a.line:hover:before {
  visibility: visible;
  width: 100%;
}

.menu {
  display: flex !important;
  flex-direction: column !important;
  gap: 10px !important;
  margin: 10px;

  a {
    text-decoration: none;
    cursor: pointer;
    color: #4d487d;
    position: relative;
  }

  a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: $bg-color-primary;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
  }

  a:hover:before {
    visibility: visible;
    width: 100%;
  }
}

mat-icon {
  color: white;
}
